* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.App {
  background-color: rgb(173, 220, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.heading {
  font-size: 1.4rem;
  width: 95%;
  text-align: center;
  padding: 0.5em;
  background-color: white;
  margin: 0.5em;
  border-radius: 10px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.first__container,
.second__container {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  background-color: rgba(131, 222, 131, 0.826);
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
}

.second__container {
  background-color: rgb(38, 186, 244);
}

.btn {
  width: 100%;
  padding: 0.7em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  margin: 0.5em;
}

.btn:hover {
  background-color: black;
  color: white;
}

.container__image {
  margin-top: 0.5em;
  width: 60%;
}

input {
  width: 100%;
  padding: 1em;
  margin: 0.5em;
  background-color: rgb(194, 194, 227);
  font-size: 1.2rem;
  text-align: center;
}